<div class="greyBG" style="background-color: whitesmoke; height: 100%;width: 100%;padding: 1%;">
    <div class="box">
        <div class="sidebar-container" style="height: 100%; width: 20%;float: left;">
            <app-sidebar></app-sidebar>
        </div>
        <div class="container " style="height: 100%; width: 80%;float: right;">
            <div class="uppermenu gradientBG" style="height: 35px;width: 100%;">
                <div style="display:flex;float:left;justify-content: space-around;width:20%;margin-top: 0.5rem;">
                    <i class="fa fa-download"></i>
                    <i class="fa fa-upload"></i>
                    <i class="fa fa-bar-chart"></i>
                </div>
            </div>
            <div class="menu" style="height: 35px;width: 100%;background-color: white; border-bottom: 2px solid gray;">
                <span class="menu-option" (click)="changeForm('general')">General</span>
                <span class="menu-option" (click)="changeForm('attribute')">Attribute Template</span>
                <span class="menu-option" (click)="changeForm('mode')">Mode</span>
            </div>
                <div class="form-container" [ngSwitch]="formType" style="background-color: white;min-height: 582px;">
                    <app-general *ngSwitchCase="'general'">...</app-general>
                    <app-attribute *ngSwitchCase="'attribute'">...</app-attribute>
                    <app-mode *ngSwitchCase="'mode'">...</app-mode>
                </div>
        </div>
    </div>
</div>