<div style="padding: 2%;">
    <form [formGroup]="modeForm">
        <div class="form-group">
            <label>Mode Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Mode Name" formControlName="name">
        </div>
        <div class="form-group">
            <label for="Formula">Formula:</label>
            <input type="text" class="form-control" id="formula" placeholder="Formula" formControlName="formula">
        </div>
        <div >
            <label class="mr-5" style="float: left; width: 20%;">Variable Name:</label>
            <label>Select Channel:</label>
        </div>
        <div class="form-group" formArrayName="arr"
            *ngFor="let item of modeForm.get('arr')['controls']; let i = index;">
            <div [formGroupName]="i">
                <div class="mr-5" style="float: left; width: 20%;">
                   
                    <input type="text" class="form-control" id="variable" formControlName="variable">
                </div>
                <div>
                   
                    <select class="form-control mr-3" style="width: 20%;" id="channel" formControlName="channel">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4 mr-3" (click)="save()" title="save your work before move to other form">Save</button>
        <button type="button" class="btn btn-primary mt-4 mr-3" (click)="addRow()" title="click to add new row">Add New</button>
        <button type="button" class="btn btn-secondary mt-4" (click)="deleteRow()" title="click to delete row">Delete</button>
    </form>

    <table class="table mt-4">
        <thead class="text-center">
            <tr>
                <th scope="col">Mode Name</th>
                <th scope="col">Input</th>
                <th scope="col">Output</th>
                <th scope="col">Create Model</th>
            </tr>
        </thead>
        <tbody *ngFor="let field of modeList;let i=index">
            <tr>
                <td><input type="text" class="input-text form-control" /></td>
                <td><input type="text" class="input-text form-control" /></td>
                <td><input type="text" class="input-text form-control" /></td>
                <td class="text-center" style="color: skyblue;"><i class="fa fa-plus fa-1x" (click)="addItem()"></i></td>
            </tr>
        </tbody>
    </table>
</div>