<div style="padding: 2%;">
    <form [formGroup]="generalForm">
        <div class="form-group">
            <label>Template Name</label>
            <input type="text" class="form-control" id="name" placeholder="Template Name" formControlName="name">
            <div *ngIf="this.generalForm.controls.name.invalid && (this.generalForm.controls.name.dirty || this.generalForm.controls.name.touched)" class="alert alert-danger">
                <div *ngIf="this.generalForm.controls.name.errors.required">
                    Template Name is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Description"
                formControlName="description">
        </div>
        <div class="form-group">
            <label>Data Collection</label>
            <div style="width: 100%;">
                <select class="form-control mr-3" style="float: left; width: 10%;" formControlName="data1">
                    <option value="10">10</option>
                </select>
                <select class="form-control" style=" width: 13%;" formControlName="data2">
                    <option value="Minutes">Minutes</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-primary mt-4 mr-3" [disabled]="this.generalForm.invalid" (click)="save()" title="save your work before move to other form">Save</button>
        <button type="button" class="btn btn-primary mt-4 mr-3" [disabled]="this.generalForm.invalid" (click)="submit()" title="please click submit after adding attribute and mode to reflect data on sidebar">Submit</button>
        <button type="button" class="btn btn-secondary mt-4" (click)="cancel()" title="click to reset form">Cancel</button>
    </form>
</div>