<div class="gradientBG p-5" style="font-weight: bold;min-height: 650px;">
    <li class="sidebar-dropdown" >
        <a href="#">
          <i class="fa fa-plus-alt"></i>
          <span style="color: white;">Templates</span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li *ngFor="let item of templateList;let i=index;">
              <a href="#" style="color: white;">{{item.general.name}}
              </a>
              <div class="sidebar-submenu" *ngIf="item.mode.name != ''">
                <ul>
                  <li >
                    <a href="#" style="color: white;">{{item.mode.name}}
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
</div>