/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"; 
@import "~font-awesome/css/font-awesome.css";

html, body {
    height: 100%;
    width: 100%;
}
.gradientBG{
    background-color: #0499f2;
background-image: linear-gradient(315deg, #0499f2 0%, #26f596 74%);

}

label{
    font-weight: bold;
}

.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}  