<div style="padding: 1%;">
    <form [formGroup]="attributeForm">
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th scope="col">Tag Name</th>
                    <th scope="col">Alias Name</th>
                    <th scope="col">Tag Type</th>
                    <th scope="col">High</th>
                    <th scope="col">Low</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody formArrayName="tagArr" *ngFor="let item of attributeForm.get('tagArr')['controls'];let i=index">
                <tr [formGroupName]="i">
                    <td><input type="text" class="input-text form-control" /></td>
                    <td><input type="text" class="input-text form-control" /></td>
                    <td><input type="text" class="input-text form-control" /></td>
                    <td><input type="text" class="input-text form-control" /></td>
                    <td><input type="text" class="input-text form-control" /></td>
                    <td class="text-center" style="color: red;"><i class="fa fa-trash fa-2x" (click)="deleteRow(i)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <button type="button" class="btn btn-primary mr-2" (click)="save()" title="save your work before move to other form">Save</button>
            <button type="button" class="btn btn-primary" (click)="addRow()" title="click to add new row">Add New</button>
        </div>
    </form>
</div>